@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --sidebar-bg-light: #1e40af;
  --sidebar-bg-dark: #1e293b;

  --bg-light: #f3f4f6;
  --bg-dark: #0f172a;

  --text-light: #000000;
  --text-dark: #ffffff;

  --bg-card-light: #e5e7eb;
  --bg-card-dark: #d7dadf;
}

.light {
  --sidebar-bg: var(--sidebar-bg-light);
  --bg: var(--bg-light);
  --text-bg: var(--text-light);
  --bg-card: var(--bg-card-light);
}

.dark {
  --sidebar-bg: var(--sidebar-bg-dark);
  --bg: var(--bg-dark);
  --text-color: var(--text-dark);
  --bg-card: var(--bg-card-dark);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(calc(-100% + 80px));
  }
  90% {
    transform: translateX(calc(-100% + 80px));
  }
  100% {
    transform: translateX(0);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
